In [2]:
import pandas as pd
import pymysql
import numpy as np

In [3]:
df_buses_1=pd.read_csv("df_buses_1.csv")
df_buses_2=pd.read_csv("df_buses_A.csv")
df_buses_3=pd.read_csv("df_buses_T.csv")
df_buses_4=pd.read_csv("df_buses_4.csv")
df_buses_5=pd.read_csv("df_buses_5.csv")
df_buses_6=pd.read_csv("df_buses_6.csv")
df_buses_7=pd.read_csv("df_buses_7.csv")
df_buses_8=pd.read_csv("df_buses_8.csv")
df_buses_9=pd.read_csv("df_buses_9.csv")
df_buses_10=pd.read_csv("df_buses_10.csv")

Final_BD_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_BD_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name,Bus_names
0,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:00,20:20,08h 20m,INR 627,1 Seat available,4.0\n133,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,NaN
1,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,01:00,10h 00m,INR 620,3 Seats available,4.0\n16,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,NaN
2,KSRTC (Kerala) - 370,AC MULTI AXLE,15:25,23:45,08h 20m,INR 729,11 Seats available,2.9\n43,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,NaN
3,KSRTC (Kerala) - 380,Swift Deluxe Non AC Air Bus (2+2),16:15,01:00,08h 45m,INR 567,3 Seats available,4.1\n5,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,NaN
4,KSRTC (Kerala) - 553,Super Express Non AC Seater Air Bus (2+2),16:45,01:25,08h 40m,INR 640,4 Seats available,3.3\n13,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2958,SHYAMOLI Pvt. Ltd.(Karunamoyee),Volvo Multi-Axle A/C Semi Sleeper (2+2),07:00,11:30,04h 30m,INR 524,21 Seats available,4.3,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),NaN
2959,SHYAMOLI Pvt. Ltd.(Karunamoyee),Volvo Multi-Axle A/C Semi Sleeper (2+2),07:00,11:30,04h 30m,INR 524,21 Seats available,4.0\n249,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),NaN
2960,Express Line,Volvo 9600 A/C Seater (2+2),07:05,11:20,04h 15m,INR 524,28 Seats available,4.5\n192,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),NaN
2961,WBTC (CTC) Habra - Barasat - Durgapur - Asanso...,Non AC Seater (2+3),14:25,17:25,03h 00m,INR 147,28 Seats available,3.3\n55,https://www.redbus.in/bus-tickets/durgapur-to-...,Durgapur (West Bengal) to Barasat (West Bengal),NaN
2962,SBSTC-BONGAON - ASANSOL - VIA - BARASAT - 05:0...,Non AC Seater (2+3),07:00,00:00,17h 00m,INR 185,30 Seats available,2.8\n22,https://www.redbus.in/bus-tickets/barasat-west...,Barasat (West Bengal) to Asansol (West Bengal),NaN

In [4]:
Final_BD_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2963 entries, 0 to 2962
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2638 non-null   object
 1   Bus_type         2963 non-null   object
 2   Start_time       2963 non-null   object
 3   End_time         2963 non-null   object
 4   Total_duration   2963 non-null   object
 5   Price            2963 non-null   object
 6   Seats_Available  2963 non-null   object
 7   Ratings          2963 non-null   object
 8   Route_link       2963 non-null   object
 9   Route_name       2963 non-null   object
 10  Bus_names        325 non-null    object
dtypes: object(11)
memory usage: 254.8+ KB

In [5]:
Final_BD_df["Price"]=Final_BD_df["Price"].str.replace("INR","")
Final_BD_df["Price"]=Final_BD_df["Price"].astype(float)
Final_BD_df["Price"].fillna(0)

0       627.0
1       620.0
2       729.0
3       567.0
4       640.0
        ...
2958    524.0
2959    524.0
2960    524.0
2961    147.0
2962    185.0
Name: Price, Length: 2963, dtype: float64

In [6]:
Final_BD_df["Ratings"] = Final_BD_df["Ratings"].astype(str) 
Final_BD_df["Ratings"] = Final_BD_df["Ratings"].str.replace("New", "")  
Final_BD_df["Ratings"] = Final_BD_df["Ratings"].str.split().str[0]  
Final_BD_df["Ratings"] = pd.to_numeric(Final_BD_df["Ratings"], errors='coerce') 
Final_BD_df["Ratings"].fillna(0, inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_8472\1274275534.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_BD_df["Ratings"].fillna(0, inplace=True)

In [7]:
Final_BD_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2963 entries, 0 to 2962
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2638 non-null   object
 1   Bus_type         2963 non-null   object
 2   Start_time       2963 non-null   object
 3   End_time         2963 non-null   object
 4   Total_duration   2963 non-null   object
 5   Price            2963 non-null   float64
 6   Seats_Available  2963 non-null   object
 7   Ratings          2963 non-null   float64
 8   Route_link       2963 non-null   object
 9   Route_name       2963 non-null   object
 10  Bus_names        325 non-null    object
dtypes: float64(2), object(9)
memory usage: 254.8+ KB

In [8]:
Final_BD_df["Start_time"] = pd.to_datetime(Final_BD_df["Start_time"], format='%H:%M').dt.time

In [9]:
type(Final_BD_df["Start_time"][0])

datetime.time

In [10]:
Final_BD_df["End_time"] = pd.to_datetime(Final_BD_df["End_time"], format='%H:%M').dt.time

In [11]:
type(Final_BD_df["End_time"][0])

datetime.time

In [12]:
Final_BD_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name,Bus_names
0,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:00:00,20:20:00,08h 20m,627.0,1 Seat available,4.0,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,NaN
1,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00:00,01:00:00,10h 00m,620.0,3 Seats available,4.0,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,NaN
2,KSRTC (Kerala) - 370,AC MULTI AXLE,15:25:00,23:45:00,08h 20m,729.0,11 Seats available,2.9,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,NaN
3,KSRTC (Kerala) - 380,Swift Deluxe Non AC Air Bus (2+2),16:15:00,01:00:00,08h 45m,567.0,3 Seats available,4.1,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,NaN
4,KSRTC (Kerala) - 553,Super Express Non AC Seater Air Bus (2+2),16:45:00,01:25:00,08h 40m,640.0,4 Seats available,3.3,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2958,SHYAMOLI Pvt. Ltd.(Karunamoyee),Volvo Multi-Axle A/C Semi Sleeper (2+2),07:00:00,11:30:00,04h 30m,524.0,21 Seats available,4.3,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),NaN
2959,SHYAMOLI Pvt. Ltd.(Karunamoyee),Volvo Multi-Axle A/C Semi Sleeper (2+2),07:00:00,11:30:00,04h 30m,524.0,21 Seats available,4.0,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),NaN
2960,Express Line,Volvo 9600 A/C Seater (2+2),07:05:00,11:20:00,04h 15m,524.0,28 Seats available,4.5,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),NaN
2961,WBTC (CTC) Habra - Barasat - Durgapur - Asanso...,Non AC Seater (2+3),14:25:00,17:25:00,03h 00m,147.0,28 Seats available,3.3,https://www.redbus.in/bus-tickets/durgapur-to-...,Durgapur (West Bengal) to Barasat (West Bengal),NaN
2962,SBSTC-BONGAON - ASANSOL - VIA - BARASAT - 05:0...,Non AC Seater (2+3),07:00:00,00:00:00,17h 00m,185.0,30 Seats available,2.8,https://www.redbus.in/bus-tickets/barasat-west...,Barasat (West Bengal) to Asansol (West Bengal),NaN

In [13]:
Final_BD_df = Final_BD_df[Final_BD_df["Price"] <= 6000]

In [14]:
Final_BD_df['Bus_name'] = Final_BD_df['Bus_name'].fillna(Final_BD_df['Bus_names'])

C:\Users\admin\AppData\Local\Temp\ipykernel_8472\3955034099.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_BD_df['Bus_name'] = Final_BD_df['Bus_name'].fillna(Final_BD_df['Bus_names'])

In [15]:
Final_BD_df = Final_BD_df.drop(columns=['Bus_names'])

In [18]:
path=r"C:/Users/admin/Desktop/Redbus Project/Final_BD_df.csv"
Final_BD_df.to_csv(path,index=False)

In [20]:
Final_BD_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:00:00,20:20:00,08h 20m,627.0,1 Seat available,4.0,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00:00,01:00:00,10h 00m,620.0,3 Seats available,4.0,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 370,AC MULTI AXLE,15:25:00,23:45:00,08h 20m,729.0,11 Seats available,2.9,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 380,Swift Deluxe Non AC Air Bus (2+2),16:15:00,01:00:00,08h 45m,567.0,3 Seats available,4.1,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 553,Super Express Non AC Seater Air Bus (2+2),16:45:00,01:25:00,08h 40m,640.0,4 Seats available,3.3,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2958,SHYAMOLI Pvt. Ltd.(Karunamoyee),Volvo Multi-Axle A/C Semi Sleeper (2+2),07:00:00,11:30:00,04h 30m,524.0,21 Seats available,4.3,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2959,SHYAMOLI Pvt. Ltd.(Karunamoyee),Volvo Multi-Axle A/C Semi Sleeper (2+2),07:00:00,11:30:00,04h 30m,524.0,21 Seats available,4.0,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2960,Express Line,Volvo 9600 A/C Seater (2+2),07:05:00,11:20:00,04h 15m,524.0,28 Seats available,4.5,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2961,WBTC (CTC) Habra - Barasat - Durgapur - Asanso...,Non AC Seater (2+3),14:25:00,17:25:00,03h 00m,147.0,28 Seats available,3.3,https://www.redbus.in/bus-tickets/durgapur-to-...,Durgapur (West Bengal) to Barasat (West Bengal)
2962,SBSTC-BONGAON - ASANSOL - VIA - BARASAT - 05:0...,Non AC Seater (2+3),07:00:00,00:00:00,17h 00m,185.0,30 Seats available,2.8,https://www.redbus.in/bus-tickets/barasat-west...,Barasat (West Bengal) to Asansol (West Bengal)

In [ ]:
Create MySQL Database

In [22]:
my_connection=pymysql.connect(host="127.0.0.1", user="root", password="Asm@dhil01",database="RedBus_Details")
my_cur = my_connection.cursor()
my_cur.execute("CREATE DATABASE IF NOT EXISTS RedBus_Details")

1

In [24]:
my_cur.execute('''CREATE TABLE IF NOT EXISTS bus_routes(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Route_name VARCHAR(255) NULL,
                  Route_link VARCHAR(255) NULL,
                  Busname VARCHAR(255) NOT NULL,
                  Bustype VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Star_ratings Float NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [26]:
insert_query = '''
    INSERT INTO bus_routes (
        Route_name, Route_link, Busname, Bustype, Start_time, 
        Total_duration, End_time, Star_ratings, Price, Seats_Available
    ) 
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
'''
rows_inserted = 0
for _, row in Final_BD_df.iterrows():
    record = (
        row['Route_name'], row['Route_link'], row['Bus_name'], row['Bus_type'], row['Start_time'], 
        row['Total_duration'], row['End_time'], row['Ratings'], row['Price'], row['Seats_Available']
    )
    my_cur.execute(insert_query, record)
    rows_inserted += 1

In [28]:
print(f"Successfully inserted {rows_inserted} rows into the 'bus_routes' table.")

Successfully inserted 2961 rows into the 'bus_routes' table.